/* CSS reset */
* {
    margin: 0;
    padding: 0;

}

/* smooth scrolling  */
html {
    scroll-behavior: smooth;
}

/* CSS Variables  */
:root {
    --navbar-height: 59px;

}

/* Navigation Bar  */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;

}

/* Navigation Bar: Logo and images */
#logo {
    margin: 10px 10px;

}

#logo img {
    height: 95px;
    margin: 0px 5px;
}

/* Navigation Bar: List styling */


#navbar ul {
    display: flex;
    font-family: 'Young Serif', serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 8px 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 430px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(../images/bg4.avif) no-repeat center center/cover;
    position: absolute;
    height: 553px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* services section  */
.services {
    margin: 0px;
    display: flex;

}

.services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 30px 6px;
    border-radius: 28px;
    background-color: #e0dfdf75;
}

.services .box img {
    height: 160px;
    display: block;
    margin: auto;

}

.services .box p {
    font-family: 'Bree Serif', serif;

}

/* CLients Section  */
#client-section {
    height: 361px;
    position: relative;
    background-color: rgb(220 215 215 / 39%);
}

#client-section::before {
    content: "";
    position: absolute;


    width: 100%;
    height: 67%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client .item {
    padding: 34px;
}

/* Contact Section  */
#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    background-color: rgb(220 215 215 / 39%);
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.3rem;

}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer {
    background-color: black;
    color: white;
    /* padding: 9px 560px; */

}

.class {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Utility CLasses */
.h-primary {
    font-size: 3.8rem;
    padding: 30px;
    font-family: 'Bree Serif', serif;
    background-color: rgb(220 215 215 / 39%);

}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    margin: 17px;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}